<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Link Shortener</title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
    <h1>Link shortener</h1>
    <p>
      Insert Link: <br/>
      <input id="inputLink" type="text" placeholder="Link to be shortened" value="">
    </p>
    <button id="shortenButton" type="button" name="button">Shorten</button>
     <p>
      Shorten: <br/>
      <input id="outputLink" readonly type="text" placeholder="Shortened link output" value="">
     </p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  </body>
</html>
